# Programmatic Thinking

## 1.1 Arithmetic Operators

<font color = "hotpink">Arithmetic Operators</font> - symbols that represent arithmetic operations

In [20]:
30 + 12

42

In [21]:
43 - 1

42

In [22]:
6 * 7

42

In [23]:
84/2

42.0

<font color = "hotpink">Integers</font> - represents numbers with no decimal or fraction
<font color = "hotpink">Floats</font> - numbers that are decimals or a fraction

In [24]:
84 // 2 #floor division(only gives the numbers before the decimal)

42

In [25]:
85 // 2

42

In [26]:
#Exponents - when you raise to the power of another number

7 ** 2

49

In [27]:
7 ** 2.5

129.64181424216494

Some languages use the caret ^ for exponents

## 1.2 Expressions

<font color = "hotpink">Expression</font> - A collections operators and numbers

In [28]:
6 + 6 ** 2

42

In [29]:
12 + 5 * 6

42

## 1.5 Values and Types 

Multiple types of data:
* Integers
* Floats
* Boolean
* String
* Null (Unidentified)

<b>Type</b> - What kind of value is the data that we are using. Values can belong to a type of data.

In [30]:
# Python type function

type(2)

int

In [31]:
type(2.4)

float

In [32]:
type(True)

bool

In [33]:
type("Elijah's Haircut")

str

In [34]:
int(42.9)

42

In [35]:
float(42)

42.0

In [36]:
str(42)

'42'

In [37]:
'42' + '5'

'425'

In [38]:
'126' /3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
int('126') / 3

In [ ]:
age = int(input("Please enter your age: "))
# All data collected from an input statement is ALWAYS a string

birthYear = 2025 - age
print(birthYear)

In [39]:
1,000,000

(1, 0, 0)

In [40]:
1000000

1000000

In [41]:
1.000.000

SyntaxError: invalid syntax (1797962719.py, line 1)

In [42]:
1024

1024

In [43]:
round(42, 5)
#

42

## 1.9.5 Exercise

The following questions give you a chance to practice writing arithmetic expressions

1. How many secodns are there in 42 minutes 42 seconds
2. How many miles are there in 10 kilometers HINT: there are 1.61 kilometers in a mile
3. If you run a 10km race in 42 minutes 42 seconds, what is your average pace in seconds per mile
4. What is your average base in minutes and seconds per mile?
5. What is your average speed in miles per hour

In [ ]:
#1. How many seconds are there in 42 miinutes 42 seconds

seconds = 42 * 60
tot_secs = seconds + 42
print( str(tot_secs) + " in 42 minutes 42 seconds")

2562

In [46]:
# 2. How many miles are there in 10 kilometers HINT: there are 1.61 kilometers in a mile

miles = round(10 / 1.61, 2)

print(miles)

6.21

In [47]:
# 3. If you run a 10km race in 42 minutes 42 seconds, what is your average pace in seconds per mile

secsPerMile = tot_secs / miles

print(round(secsPerMile, 2), "seconds per mile.")

412.56 seconds per mile.

In [ ]:
# 4. What is your average base in minutes and seconds per mile?

minsPerMile = secsPerMile / 60
print(round(minsPerMile, 2), "is the pace per mile")

6.88 Minutes Per Mile

In [80]:
# 5. What is your average speed in miles per hour
#8.73
mPsec = miles/tot_secs # Miles per second
mPH = mPsec * 3600

print(round(mPH, 2), "is the MPH")

8.73 is the MPH